# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore build directories or files
build/
dist/
*.egg-info

# Ignore sensitive configuration files
.env
secrets.json
